body {
    font-family: sans-serif;
    background-color: aqua;
}
.logo{
    height:100px;
    width: 100px;
}
h1{
    display: flex;
    justify-content: center;
}
header img{
    display: flex;
    justify-content: start;
    height: 50px;
}
main table{
    background-color: blue;
}
td img{
    height: 300px;
    width: 500px;
}
main tr, main td{
    border:10px solid darkblue;
     border-radius: 18px;
}
table, h2{
    display: flex;
    justify-content: center;
}
footer table{
    background-color: lightgrey;
    border:5px solid gray ;
    border-radius: 10px;
}
nav {
    border-bottom: 1px dashed navy;
}

nav a {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin: 30px;
}
